<h1><%= @user.username %>님의 프로필</h1>
<p>이메일 : <%= @user.email %></p>
<p>등급 : <%= @user.usergrade %></p>
<p>팔로워 : <%= @user.followers.length %></p>
<p>팔로잉 : <%= @user.followings.length %></p>

<a href="/home/viplists">돌아가기</a>

