

<h1><%= @user.username %>님의 프로필</h1>
  <tbody>
            
                    <% if current_user.followings.include?(@user) %>
                        <%= form_tag follow_path(@user.id), method: :delete, class: "right" do %>
                            <button class="btn">팔로우 취소</button>
                        <% end %>
                    <% else %>
                        <%= form_tag follows_path, class: "right" do %>
                            <input type="hidden" name="followed_id" value="<%= @user.id%>" />
                            <button class="btn">팔로우</button>
                        <%end%>
                    <%end%>
                
               
            
            
    </tbody>
<p>이메일 : <%= @user.email %></p>
<p>연락처 : <%= @user.phonenumber %></p>
<p>등급 : <%= @user.usergrade %></p>
<p>팔로워 : <%= @user.followers.length %></p>
<p>팔로잉 : <%= @user.followings.length %></p>


<% if current_user.usergrade == '디자이너' %>
<% @posts = current_user.posts.all %>
    <%= link_to new_post_path do %> 
        <button class="btn">글 쓰기</button> 
    <% end %>
    <a href="/posts/new/<%= @user.id %>">제출</a>
 <table>
        <caption>내가 등록한 글</caption>
        <thead>
            <tr>
                <th>no</th>
                <th>작성자</th>
                <!-- <th>고객명</th> -->
                <th>날짜</th>
            </tr>
        </thead>
        
        <tbody>
            <% @posts.each do |post| %>
                
               
            
            
            
            
                <% if post.archived.id == @user.id %>
                    <tr>
                        <th><%= post.id %></th>
                        <td><%= post.user.username %></td>
                        <!-- <td><%= post.archived.email %></td> -->
                        
                        <td>
                        <a href = "/posts/show/<%= post.id %>"><%= post.created_at.strftime("%F") %></a>
                        </td>
                        
                        <td>
                            <a href="/posts/edit/<%= post.id %>">수정</a>
                        </td>
                        
                    </tr>
                <% else %>
                    
                <% end %>
            
            
            
            
            
            
            <% end %>
        </tbody>
        
    </table>
    <a href="/home/viplists">돌아가기</a>
 <% else %>
     <a href="/home/viplists">돌아가기</a>
 <% end %>

