<% if user_signed_in? %>
        <h1><%= current_user.username %>님 환영합니다. </h1>
        <p>이메일 : <%= current_user.email %> <a href="/users/sign_out">로그아웃</a> </p>
        
        <% unless current_user.avatar.url.nil? %>
    		<div class="card-image"> 
    			<img src="<%= current_user.avatar.url %>" /> 
    		</div> 
		<% end %> 
    <% if current_user.usergrade.present? %>
        <p>등급 : <%= current_user.usergrade %></p>
    <% else %>
        <p>등급 정보를 업데이트 해주세요!</p>
        <p><a href="/users/edit" class="btn btn-default">프로필수정</a></p>
    <% end %>
    <p>팔로워 : <a href="/home/followerlists/"><%= current_user.followers.length %></a>
    <p>팔로잉 : <a href="/home/viplists/"><%= current_user.followings.length %></a>
    
   
    
  
    <form action="/home/search" method="GET">
        <input type="text" name="search_path">
        <button type="submit">검색</button>
    </form>
    
    <% @users.each do |user| %>
       <a href = "/users/show/<%= user.id %>"><%= user.email %></a>
    <% end %>
    
    
    <% if current_user.usergrade == '디자이너' %>
        <p>디자이너 전용 공간 입니다.(나중에 지울것)</p>
        <a href="/home/viplists/">단골 고객 목록</a>
        <a href="/home/userlists/">전체 고객 목록</a>
        
        <p>나의 예약 현황</p>
        <div>09:00 09:30 10:00 10:30 11:00 11:30 12:00</div>
        <div>13:00 13:30 14:00 14:30 15:00 15:30 16:00</div>
        <div>16:30 17:00 17:30 18:00 18:30 19:00 19:30</div>
        
    <% else %>
        <p>고객 전용 공간 입니다.(나중에 지울것)</p>
        <a href="/home/viplists/">단골 디자이너 목록</a>
        <a href="/home/userlists/">전체 디자이너 목록</a>
    <% end %>
    

<% else %>
    
    
    <div class="logo">
      	<%= image_tag "logo_image_motion.svg" %>
    </div>
    <div class="login">
      	<%= image_tag "login.svg" %>
    </div>
    <div class="login_button">
        <div class="user">
        	<a href="users/sign_in">로그인</a>	
        </div>
        <div class="user_designer">
        	<a href="users/sign_up">회원가입</a>
        </div>
    </div>
    
    
<% end %>