<div class="container">
    <div class="row"> 
        <div class="card col s12"> 
            <div class="card-content"> 
                <div class="card-title">글 보기</div> 
                
                
                
                
                
                
                <form action="/posts/new/<%= @post.id %>" method="post">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    
                    시술금액:<input type="number" name="price" value="<%= @post.price %>"></input></br>
                    고객메모:<input type="text" name="content" value="<%= @post.content %>"></input></br>
                    <input type="hidden" value="<%= @post.archived.id %>" name="archived_id"></input>
                    
                     <a href="/users/show/<%= @post.archived.id %>">돌아가기</a>
                    
                </form>
                
                
                
                
                
                
                
            </div> 
        </div> 
    </div> 
</div>
