<div class="logo">
  	<%= image_tag "logo image_small.svg" %>
</div>
<h2>회원가입</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 
 <div class="field">
    <%= f.text_field :username, autofocus: true, autocomplete: "username" , placeholder: "유저내임" %>
  </div>


  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "이메일 주소" %>
  </div>

  <div class="field">
    <!--<% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />-->
    <%= f.password_field :password, autocomplete: "new-password" , placeholder: "패스워드(최소 6자)"  %>
  </div>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder: "확인 패스워드" %>
  </div>
  
  <div class="field"> 
		<%= f.label '프로필 이미지' %><br /> 
		<%= f.file_field :avatar %> 
	</div> 

<p>등급</p>
<label class="radio_button">고객
  <%=f.radio_button :usergrade, '고객', checked: true %>
</label>
<label class="radio_button"> 디자이너
  <%=f.radio_button :usergrade, '디자이너', checked: true %>
</label>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
